html{
	width: 100%;
	margin: 0;
}

body{
	background-image: url(img/bg.jpeg);
	background-position: left;
	background-repeat: no-repeat;
	background-color: steelblue;
	font-family: 'Noto Sans', sans-serif;
	text-align: left;
}

footer{
    height: 100px;
    margin: 20px;
    padding: 18px;
    display: flex;
    border-radius: 30px;
}

p{  font-size: 18px;
    text-align: left;
    line-height: 28px;
    color: var(--white-color);

}

div {
  background-color: transparent;

}


a{
    color: var(--orange-color);
    font-size: 20px;
    text-decoration-line: none;
    font-style: italic;

}